@model iWasHere.Domain.Models.Landmark

@{
    ViewData["Title"] = "AddLandmark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddLandmark</h1>

<h4>Landmark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLandmark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LandmarkTypeId" class="control-label"></label>
                <select asp-for="LandmarkTypeId" class ="form-control" asp-items="ViewBag.LandmarkTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HasEntryTicket" class="control-label"></label>
                <input asp-for="HasEntryTicket" class="form-control" />
                <span asp-validation-for="HasEntryTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitIntervalId" class="control-label"></label>
                <select asp-for="VisitIntervalId" class ="form-control" asp-items="ViewBag.VisitIntervalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LandmarkDescription" class="control-label"></label>
                <input asp-for="LandmarkDescription" class="form-control" />
                <span asp-validation-for="LandmarkDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketId" class="control-label"></label>
                <select asp-for="TicketId" class ="form-control" asp-items="ViewBag.TicketId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class ="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

