
@{
    ViewData["Title"] = "Landmark Type";
}

<h1>Landmark types</h1>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryLandmarkTypeModel>()
        .Name("Grid")
    .EnableCustomBinding(true)
    .Columns(columns =>
        {
            columns.Bound(o => o.LandmarkTypeCode);
        columns.Bound(o => o.Description);
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read("LandmarkType_Read", "DictionaryLandmarkType")
    )
)

