@{
    ViewData["Title"] = "Language";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<h1>Languages</h1>



@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryLanguageModel>()
        .Name("Grid")
    .EnableCustomBinding(true)
    .Columns(columns => {
        columns.Bound(o => o.LanguageCode);
        columns.Bound(o => o.LanguageName);
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read("Languages_Read", "DictionaryLanguage")
    )
)
