
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Judete</h1>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountyModel>()
    .Name("Grid")
    .HtmlAttributes(new { style="height: 380px;"})
    .Columns(columns =>
    {
        columns.Bound(c => c.CountyId).Width(140).Title("Id Judet");
        columns.Bound(c => c.CountyName).Width(190).Title("Nume Judet");
        columns.Bound(c => c.CountryName).Width(250).Title("Nume Tara");
    })
    .Groupable()
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()    
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .ServerOperation(false)
        .Read(read => read.Action("GetDictionaryCounties","DictionaryCounty"))
     )
)