@{
    ViewData["Title"] = "Home Page";
}
<script>

        function onLoadFunction() {

               $.ajax({
                    type: 'GET',
                    url: '@Url.Action("parseXMLBnr", "Landmarks")',
                 success: function (response) {
                     alert("hai ca merge");
                     alert(response);
                    },
                        error: function (response) {
                        alert("hai ca nu merge");
                    }
                })

    }
</script>


<body onload="onLoadFunction() style="background-color:#ffff">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        
        )
    </div>
</body>