@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<h1>Countries</h1>

@(Html.Kendo().Button()
           .Name("primaryTextButton")
           .HtmlAttributes(new { type = "button", @class = "k-primary" })
           .Content("Add")
           .Events(ev => ev.Click("foo"))
)

<script>
    function foo()
    {
        window.location.href = '@Url.Action("AddCountry", "DictionaryCountry")';
    }
</script>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountryModel>()
        .Name("Grid")
    .EnableCustomBinding(true)
    .Columns(columns =>
        {
            columns.Bound(o => o.CountryId);
            columns.Bound(o => o.CountryName);
            columns.Bound(o => o.LanguageId);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read("Countries_Paging", "DictionaryCountry")
        )
)
